@font-face {
  font-family: proxima_nova_regular;
  src: url("../fonts/ProximaNova-Regular.otf");
}
body {
  font-family: "proxima_nova_regular", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f9fbfd;
  color: #62646a;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.font-14 {
  font-size: 14px;
}

.text-pink {
  color: #ea4c89;
}

ul {
  padding-left: 18px;
}

.love li {
  margin: 5px 0px;
}

html {
  font-family: "proxima_nova_regular", sans-serif;
  letter-spacing: 0.2px;
}

.resume {
  background: #FFF;
  border: 1px solid #ECECEC;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 16px;
}

.main-menu {
  width: 100%;
  padding: 15px 0px;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #EEE;
}
.main-menu .logo {
  font-weight: 800;
}

.leftbar {
  border-right: 1px solid #EEEEEE;
  padding: 30px 30px 0px 25px;
}

.rightbar {
  padding: 30px;
}

.user-card {
  font-size: 16px;
  margin-bottom: 20px;
}
.user-card .user-img {
  display: inline-block;
}
.user-card .user-img img {
  width: 110px;
  height: 110px;
  border-radius: 60%;
}
.user-card .user-info {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
.user-card .user-info .name {
  color: #62646a;
  padding-left: 3px;
  font-weight: bold;
}
.user-card .user-info .email {
  padding-left: 3px;
  color: #62646a;
}
.user-card .user-info .email a {
  color: #62646a;
}
.user-card .user-info .email a:hover {
  text-decoration: underline;
}
.user-card .user-info .social-links {
  margin-top: 7px;
}
.user-card .user-info .social-links li {
  margin: 0px 3px;
  padding: 5px 10px;
  border-radius: 50%;
}
.user-card .user-info .social-links a {
  color: #EEE;
}
.user-card .user-info .social-links .github {
  background: #c9510c;
}
.user-card .user-info .social-links .dribbble {
  background: #ea4c89;
}
.user-card .user-info .social-links .gitlab {
  background: #FCA326;
}
.user-card .user-info .social-links .linkedin {
  background: #2867B2;
}

.experience-item {
  padding-top: 15px;
}
.experience-item .company {
  color: #00aced;
}
.experience-item ul li {
  font-size: 14px;
}
.experience-item .role {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  color: #95979d;
  font-weight: bold;
  font-size: 14px;
}
.experience-item .dates {
  float: right;
  display: inline-block;
  font-size: 14px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #82b541;
}

h3 {
  font-size: 24px;
  color: #82b541;
}

.module-title {
  margin-bottom: 5px;
  font-size: 20px;
  padding-top: 15px;
}

.technical {
  padding: 30px 0px;
  text-transform: capitalize;
  border-bottom: 1px solid #EEEEEE;
}
.technical .col-md-4 {
  border-right: 1px solid #EEEEEE;
  padding-left: 30px;
}
.technical .col-md-4:last-of-type {
  border-right: transparent;
}
.technical h4 {
  color: #82b541;
}

.clients {
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  padding: 30px 0px;
  color: #82b541;
}
.clients ul li {
  margin: 0px 45px;
}
.clients ul li img {
  height: 50px;
}

.panel {
  padding: 30px;
  border: 1px solid #EEE;
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.panel .panel-header .panel-heading {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #495057;
  margin-bottom: 15px;
  margin-top: 0px;
}

.work {
  padding: 30px 0px 50px 0px;
  border-bottom: 1px solid #EEEEEE;
}
.work .user-project-panel {
  padding: 0px;
}
.work .user-project-panel span {
  font-size: 14px;
}
.work .user-project-panel:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.work .user-project-panel .project-image {
  min-height: 170px;
  background-size: contain;
}
.work .user-project-panel .project-details {
  padding: 10px 10px 10px 15px;
  font-weight: 600;
  color: #62646a;
}
.work .user-project-panel .project-details:hover {
  color: #82b541;
}

.startup {
  background: #FFFFFF;
  padding: 30px 0px;
}
.startup .startup-info {
  margin-left: 50px;
}

.aboutme {
  padding: 20px 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
}

.experience {
  padding: 20px 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
}

.no-padding {
  padding: 0px;
}

/*# sourceMappingURL=style.css.map */
