$success-color: #4CAF50;
$danger-color: rgb(244, 54, 76);
$info-color: #00aced;
$primary-color: #6c7681;
$warning-color: #ffc107;
$font-family: "proxima_nova_regular", sans-serif;
$font-size: 1.0625rem;
$font-weight: 400;
$line-height: 1.6;
$font-color: #495057;
$theme-color: #82b541;
// $text-color: #354052;
$text-color: #62646a;
$border-color: #EEEEEE;
@font-face {
  font-family: proxima_nova_regular;
  src: url('../fonts/ProximaNova-Regular.otf');
}

