@import 'variables.scss';

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  background-color: #f9fbfd; 
  color: $text-color;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
.font-14{
  font-size: 14px;
}
.text-pink {
  color: #ea4c89;
}
ul {
  padding-left: 18px;
}
.love {
  li {
    margin: 5px 0px;
  }
}
html {
  font-family: $font-family;
  letter-spacing: 0.2px;
}
.resume {
  background: #FFF;
  border: 1px solid #ECECEC;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 16px;
}
.main-menu {
  width: 100%;
  padding: 15px 0px;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #EEE;
  .logo {
    font-weight: 800;
  }
}
.leftbar {
  border-right: 1px solid #EEEEEE;
  padding: 30px 30px 0px 25px;
  background: #F5F5F5;
}
.rightbar {
  padding: 30px;
}
.user-card {
  font-size: 16px;
  margin-bottom: 20px;
  .user-img {
    display: inline-block;
    img {
      width: 110px;
      height: 110px;
      border-radius: 60%;
    }
  }
  .user-info {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    .name {
      color: $text-color;
      padding-left: 3px;
      font-weight: bold;
    }
    .email {
      padding-left: 3px;
      color: $text-color;
      a {
        color: $text-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .social-links {
      margin-top: 7px;
      li {
        margin:0px 3px;
        padding: 5px 10px;
        border-radius: 50%
      }
      a {
        color: #EEE;
      }
      .github {
        background: #c9510c;
      }
      .dribbble {
        background: #ea4c89;
      }
      .gitlab {
        background: #FCA326;
      }
      .linkedin {
        background: #2867B2;
      }
    }
  }
}
.experience-item {
  padding-top: 15px;
  .company {
    color: $info-color;
  }
  ul {
    li {
      font-size: 14px;
    }
  }
  .role {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    color: lighten($text-color, 20%);
    font-weight: bold;
    font-size: 14px;
  }
  .dates {
    float: right;
    display: inline-block;
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $theme-color;
  }
}
h3 {
  font-size: 24px;
  color: $theme-color;
}
.module-title {
  margin-bottom: 5px;
  font-size: 20px;
  padding-top: 15px;
}
.technical {
  padding: 30px 0px;
  text-transform: capitalize;
  border-bottom: 1px solid #EEEEEE;
  .col-md-4 {
    border-right: 1px solid #EEEEEE;
    padding-left: 30px;
    &:last-of-type{
      border-right: transparent;
    }
  }
  h4 {
    color: $theme-color;
  }
  // h3 {
  //   text-align: center;
  //   text-transform: uppercase;
  // }
}
.clients {
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  padding: 30px 0px;
  color: $theme-color;
  ul {
    li {
      margin: 0px 45px;
      img {
        height: 50px;
      }
    }
  }
}
.panel {
  padding: 30px;
  border: 1px solid #EEE;
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: auto;
  .panel-header {
    .panel-heading {
      font-weight: 500;
      font-size: 20px;
      text-transform: capitalize;
      color: #495057;
      margin-bottom: 15px;
      margin-top: 0px;
    }
  }
}
.work {
  padding: 30px 0px 50px 0px;
  border-bottom: 1px solid #EEEEEE;
  .user-project-panel {
    span {
      font-size: 14px;
    }
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    padding: 0px;
    .project-image {
      min-height: 170px;
      background-size: contain;
    }
    .project-details {
      padding: 10px 10px 10px 15px;
      font-weight: 600;
      color: $text-color;
      &:hover {
        color: $theme-color;
      }
    }
  }
}
.startup {
  background: #FFFFFF;
  padding: 30px 0px;
  .startup-info {
    margin-left: 50px;
  }
}
.aboutme {
  padding: 20px 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
}
.experience {
  padding: 20px 0px;
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
}
.no-padding {
  padding: 0px;
}